.container{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding:5vw;

}
.socials{

  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
}
.icon{
  opacity: 0.5;
  cursor: pointer;
}